rules_version = '2';
// Photos are uploaded through Cloud Functions only.
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
